<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynchronizedPasswordChange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SynchronizedPasswordChange.Properties.Settings>
            <setting name="Domain1" serializeAs="String">
                <value>envestnetpmc.net</value>
            </setting>
            <setting name="Domain2" serializeAs="String">
                <value>system.tamarac</value>
            </setting>
            <setting name="Username1" serializeAs="String">
                <value />
            </setting>
            <setting name="Username2" serializeAs="String">
                <value />
            </setting>
        </SynchronizedPasswordChange.Properties.Settings>
    </userSettings>
</configuration>